@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


@mixin shadow {
  -webkit-box-shadow: 5px 4px 36px 7px rgba(186, 186, 186, 0.28);
  -moz-box-shadow: 5px 4px 36px 7px rgba(186, 186, 186, 0.28);
  box-shadow: 5px 4px 36px 7px rgba(186, 186, 186, 0.28);
}
